Make sure that the todo server is running!
<br>
<hr>
Id:<input type="text" [(ngModel)]="todoId"/>
<br>
Todo Text:<input type="text" [(ngModel)]="todoText"/>
<br>
Completed: <input type="checkbox" [(ngModel)]="completed"/>
<br>
<br>
<button (click)="getTodos()">Get</button>
<button (click)="postTodo()">POST</button>
<button (click)="putTodo()">PUT</button>
<button (click)="deleteTodo()">DELETE</button>
<br>
<br>
<pre>{{todos | json}}</pre>
<!--<pre>{{todos$ | async | json}}</pre>-->
